{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="flex h-screen items-center">
    <h1 class="mx-auto text-6xl font-bold">Homepage with love <span class="text-red-600">&hearts;</span></h1>
</div>
{% endblock %}
